.wrapper {
    width: 100%;
    height: 300px;
    border: 1px solid #444;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    padding: 40px;

    > div {
        top: 24px;
        right: 24px;
    }

    @media (max-width: 768px) {
        padding: 32px 24px;
        height: 200px;
        justify-content: flex-end;
    }
}

.content {
    width: 100%;
    max-width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}